<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net461" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net461" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net461" />
  <package id="Toolkit.CommonResources" version="1.0.5752.28158" targetFramework="net461" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net461" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net461" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net461" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net461" />
</packages>